@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
	padding: 0;
	margin: 0;
  background-color: #353535;
}
.dark {
  background-color: #353535;
}
.dark--header {
  position: relative;
	height: 10px;
	background: linear-gradient(141deg, #390099 0%, #9e0059 40%, #ff0054 90%);
  margin: 0;
  padding: 0;
}
.dark--header--text--container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 10vh;
  margin: 0;
  padding: 10px;
}

.dark--header--text {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 4vw;
  font-weight: 300;
	text-transform: uppercase;
}

.dark--footer {
  height: 10px;
  width: 100%;
  background: linear-gradient(141deg, #390099 0%, #9e0059 40%, #ff0054 90%);
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.dark--main {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.dark--main--text {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 3vw;
  font-weight: 200;
  display: block;
}

.dark--main--buttons {
  padding: 7px, 7px, 7px, 7px;
}

.dark--button--container {
  position: absolute;
  top:55%;
}


/* Here are the light mode components */
.light {
  background-color: #d9d9d9;
  color: 353535;
}
.light--header {
  position: relative;
	height: 10px;
	background: linear-gradient(141deg, #9f0896, #69058d 40%, #db1c67 90%);
  margin: 0;
  padding: 0;
}
.light--header--text--container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.light--header--text {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 4vw;
  font-weight: 300;
	text-transform: uppercase;
}

.footer--button--container {
  bottom: 0;          
  left: 0;             
  text-align: center;  
  width: 100%;       
  padding: 5px;     
}

.footer--button { 
  position: relative;
  bottom: 0;
  padding: 5px;
  
}

.container {
    max-width: 1400px;
    padding: 40px;
    margin: 0 auto;
    padding-top: 40px;
    color: black;
}

h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 20px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  background-color: white;
}

.movie--header {
  color: white;
}

.button--container {
  justify-content: center;
  width: 100%;
}

.footer--container {
  bottom: 0;
  position: fixed;
  width: 100%;
}
